* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #0d1116;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.logo img {
    max-height: 50px;
}

.logo-name {
    font-size: 15px;
    color: #fff;
    margin-left: 15px;
}

.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden; /* Para evitar o overflow se o conteúdo for maior */
}

.sidebar {
    background-color: #0d1116;
    /* width: 250px; Definido para telas grandes */
    min-height: calc(100vh - 50px); /* Ajuste conforme a altura do cabeçalho */
    padding: 30px;
    position: relative;
    transition: width 0.3s ease; /* Adiciona uma transição suave */
}

/* Oculta o texto "I.A Generator" em telas menores */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Muda para layout vertical */
    }

    .sidebar {
        width: 100%; /* Torna o menu lateral ocupar toda a largura */
        min-height: auto; /* Remove a altura mínima */
        padding: 0px;
        position: relative;
        display: flex;
        overflow-x: auto; /* Permite rolagem horizontal */
    }

    .sidebar nav ul {
        display: flex;
        flex-direction: row; /* Exibe itens em linha */
    }

    .sidebar nav ul li {
        margin: 0 5px; /* Margem reduzida para itens em linha */
    }

    .text_1 {
        display: none; /* Oculta o texto "I.A Generator" em telas menores */
    }
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #0d1116;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar nav ul li a .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: #fff;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li a:focus {
    background-color: #1a222c;
    color: #fff;
}

main {
    flex: 1; /* Para que o main ocupe o espaço restante */
    padding: 20px;
    background-color: #1a222c; /* Adicione um fundo para contraste, se necessário */
    overflow: auto; /* Para garantir que o conteúdo não ultrapasse */
}
