{% extends "index.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/image_sem_menu_styles.css') }}">
<div class="aplica-padd">
    <h2>Solicitação:</h2>
    <div>
        <textarea placeholder="Digite aqui..." rows="1" oninput="autoGrow(this)"></textarea>
        <button>Enviar</button>
    </div>
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/passarinho.jpg') }}" alt="Imagem">
    </div>
</div>
<script>
    function autoGrow(element) {
        element.style.height = "20px";
        element.style.height = (element.scrollHeight) + "px"; 
    }
</script>
{% endblock %}
