<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>AI Creative Studio</title>
    <link rel="stylesheet" href="../static/css/audio_sem_menu_styles.css">
    
</head>
<body>
    
    <div class="main-content">
        <div class="container">
            <h1>Conversor de Texto para Fala</h1>
            <label for="text-input">Digite o texto:</label>
            <textarea id="text-input" placeholder="Digite o texto aqui..." rows="5"></textarea>
            
            <label for="pitch">Pitch (%):</label>
            <input type="range" id="pitch" min="0" max="100" value="0">
            
            <label for="speed">Velocidade (%):</label>
            <input type="range" id="speed" min="0" max="100" value="0">
            
            <label for="volume">Volume:</label>
            <input type="range" id="volume" min="0" max="100" value="0">
            
            <label for="emotion">Selecione a Emoção:</label>
            <select id="emotion">
                <option>Normal</option>
                <option>Feliz</option>
                <option>Triste</option>
            </select>
            
            <label for="language">Selecione a Língua:</label>
            <select id="language">
                <option>pt</option>
                <option>en</option>
                <option>es</option>
            </select>
            
            <label for="voice">Selecione a Voz:</label>
            <select id="voice">
                <option>arnold.wav</option>
                <option>maria.wav</option>
                <option>john.wav</option>
            </select>
            
            <label>
                <input type="checkbox" id="split-sentences" checked> Dividir Sentenças
            </label>
            
            
            <button>Converter para Fala</button>
        </div>
    </div>
</body>
</html>
